.container{
padding:2%;
}
.heading{
text-align: center;
color:purple;
font-weight:bold;
text-transform:uppercase;
}
.profile-card{
width:75% !important;
border-radius: 2px;
min-height:200;
z-index:10;
box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
padding:2%;
margin:2% auto;
background: #fff;
}
.profile-img{
display:inline-block;
padding:1% 6%;
float:left;
}
.profile-img img{
vertical-align:unset;
}
.profile-info{
display:inline-block;
}
#previous-btn{
float:left;
width:100px;
margin-left:12%;
}
#next-btn{
float:right;
width:100px;
margin-right:12%;
}
.detail-heading{
display:inine-block;
float:left;
margin-top:3%
}
.detail-info{
padding:5% 10%;
}

